a.new_product-image {
    width: 100%;
}
.new_product-image img {
    width: 100%;
    height: 200px;
}
.mb-2{
    margin-bottom: 2% !important;
}
div#tab-description img {
    width: 100%;
    height: auto;
    max-width: 800px;
    max-height: 1000px;
}
.header-bottom {
    background-color: #ffaf30;
}
.main-menu>ul.l-inline> li> a {
    color: #4c4b4b;
    font-weight: 600;
    padding: 10px 35px;
}
.main-menu ul.l-inline> li> a:hover {
    background: #ff9d01;
    color: white;
}
.add-to-cart {
    background-color: #ffaf30;
}
.beta-btn {
    color: #fff;
    border: 1px solid #ffaf30;
}
.copyright {
    background: #ffaf30;
    height: 50px;
    color: #353535;
}
.parent-active>a {
    background: inherit;
}
.main-menu ul li.active> a {
    background: inherit;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    z-index: 2;
    color: #fff;
    background-color: #ffaf30;
    border-color: #ffaf30;
    cursor: default;
}
.single-item-title {
    font-size: 15px;
    font-weight: 800;
    margin-bottom: 5px;
}
input.btn_submit {
    display: block;
    margin: 0 auto;
}
.cart-item {
    display: flex;
    justify-content: space-between;
}
i.fa.fa-trash-o {
    font-size: 1rem;
}

/* .media-body {
    height: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
} */
.single-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 375px;
    padding-bottom: 10px;
    box-shadow: 0 0 12px 0px #00000040;
}
.single-item-body {
    margin-bottom: 5%;
    line-height: 1.6rem;
}
.single-item-caption {
    margin: 0 auto;
}
.single-item-body {
    text-align: center;
}
.media-body {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.media img.pull-left {
    height: 100px;
}
.container.about {
    background: #fdba4e14;
    margin: 5% auto;
    padding: 3% 1%;
    box-shadow: 0 0 8px 3px #0000007d;
    border-radius: 30px;
}
.container.about p {
    line-height: 1.6rem;
}
.add-cart-color{
    background-color: #ffaf30;
    border-color: #ffaf30;
}
#tab-description p {
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 1% 0px;
    color: #606366;
}
.single-item-desc p {
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 500;
}
p.single-item-title {
    font-size: 1.6rem;
    padding-bottom: 5%;
    line-height: 1.7rem;
}
p.single-item-price {
    font-size: 1.6rem;
    font-weight: 800;
}


@media (max-width: 480px){
    li.dis {
        display: none;
    }
}